{% extends 'base.html' %}


{% block page__title %}
    our blogs
{% endblock page__title %}
    

{% block body %}
    <h2>ingilis Meqalelerim</h2>
  <div class="search__form">
<form>
    {% csrf_token %}
    <input name="keyword" type="text" placeholder="axtar..">
    <button type="submit" class="btn">axtar</button>
</form>

  </div>
  


    {% if articles %}
  <div class="articles">
    <ul>
       {% for article in articles  %}
         <li>
             <h2>{{article.author}}</h2>
             <h4><a href="{% url 'article-detail' article.id %}">{{article.title}}</a></h4>
             <p>{{article.content|safe|truncatechars:70}}</p>
             <small>{{article.created_date}}</small>
         </li>
         <hr>
       {% endfor %}
       </ul>
      <br> <br>
    {% else %} 
  <div>
    <div class="alet__warning">Meqale yoxdur..</div>
  </div>

{% endif %}



<div>
  
  <a href="{% url 'addarticle' %}"><button>elave et</button></a>
</div>
<br><br>

</div>


{% endblock body %}
    